* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #97b5f3;
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

body {
    font-family: inherit;
    line-height: inherit;
    margin: 0;;
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    position: relative;
    padding: .5rem 0;
}

header nav {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

main {
    position: relative;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

.left-nav {
    flex: 1 1 0%;
    align-items: center;
    display: flex;
}

.image-content {
    width: 1cm;
    align-items: center;
    display: flex;
}

.fotoPerfil {
    width: 100%;
    height: 10%;
    border-radius: 1.8rem;
}

.name-content {
    margin-left: 1rem;
    margin-right: 2.5rem;
    background-color: grey;
    border-radius: 0.5rem;
}

.name-content a {
    --tw-text-opacity: 1;
    color: white;
    font-weight: 400;
}

.correoContacto a {
    border-color: transparent;
    width: 8cm;
    text-align: center;
    border-radius: .5rem;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    background-color: rgb(150, 150, 150);
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    box-shadow: 4px 4px 8px .8px rgb(80, 80, 80);
}

.blog-description {
    text-align: center;
    background-color: rgb(251, 200, 150);
    --tw-shadow: 50px 10px 150px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(88, 88, 230, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #54a9f400), var(--tw-ring-shadow, 0 0 #5d64e200), var(--tw-shadow);
    border-radius: .5rem;
    box-shadow: 4px 4px 8px .8px rgb(80, 80, 80);
}

.blog-description h1 {
    margin-top: .5rem;
    letter-spacing: .3rem;
    font-size: 2.7rem;
    line-height: 3.5rem;
        font-weight: 800;
    --tw-text-opacity: 1;
    text-decoration: underline;
    color: rgb(15, 15, 120);

}

.foto-principal img{
    width: 20cm;
    height: 5cm;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.blog-description p {
    margin-top: 1rem;
    max-width: 42rem;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.articles-area {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    max-width: none;
    gap: 1.25rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    
}

.article-area {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    overflow: hidden;
    flex-direction: column;
    display: flex;
    border-radius: 0.5rem;
}

.image-article-area {
    flex-shrink: 0;
}

.image-article-area a img {
    width: 100%;
    object-fit: cover;
    height: 13rem;
}

.info-article {
    padding: 0.5rem;
    flex: 1 1 0%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.info-article a {
    display: block;
    margin-top: 0.5rem;

}

.title-info-article {
    --tw-text-opacity: 1;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(20, 20, 150);
}

.contenido-por-articulo{
    font-size: 1.2rem;
    font-style: oblique;
    font-weight: 400;
    color: rgb(30, 30, 150);
}


.contenido-links{
    font-size: .7rem;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(30, 30, 150);

}
.date-area {
    display: flex;
    margin-top: 1.5rem;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    font-size: .875rem;
    line-height: 1.25rem;
}